<ion-view view-title="{{ nomeEstilo }}" class="background">

	<ion-content>

			<div class="item" ng-repeat="obj in arrDistanceToTimeEstimates track by obj.distance">

				<span ng-if="obj.distance == 50 || obj.distance == 100 || obj.distance == 200 || obj.distance == 400 || obj.distance == 800 || obj.distance == 1500" class="left-item laranja-forte">

					<b>{{ obj.distance }}m</b>
				</span>

				<span ng-if="obj.distance == 50 || obj.distance == 100 || obj.distance == 200 || obj.distance == 400 || obj.distance == 800 || obj.distance == 1500" class="right-item laranja-forte">

					<b>{{ obj.estimate }}</b>
				</span>

				<span ng-hide="obj.distance == 50 || obj.distance == 100 || obj.distance == 200 || obj.distance == 400 || obj.distance == 800 || obj.distance == 1500" class="left-item">

					{{ obj.distance }}m
				</span>

				<span ng-hide="obj.distance == 50 || obj.distance == 100 || obj.distance == 200 || obj.distance == 400 || obj.distance == 800 || obj.distance == 1500" class="right-item">

					{{ obj.estimate }}
				</span>
			</div>
	  	
  </ion-content>
</ion-view>
