<ion-view view-title="Melhores Tempos" class="background">
  <ion-content>

    <div class="list">
      
      <div class="card" ng-repeat="d in data">
          <div class="item item-divider">
            <h2 style="text-align: center;">{{d.nomeEstilo}}</h2>
          </div>
          <div ng-if="d.hasTempo" class="item">
            <span class="left-item">Tempo: {{d.melhorTempoFormatado}}</span>
          </div>
          <div ng-if="!d.hasTempo" class="item tabs tabs-secondary tabs-icon-left">
              <a class="tab-item laranja-fraco" href="#/tab/best_times/edit/{{d.idEstilo}}/{{d.nomeEstilo}}/{{d.melhorTempo}}">
                <i class="icon ion-plus-round"></i>
                Adicionar
              </a>
          </div>
          <div ng-if="d.hasTempo" class="item tabs tabs-secondary tabs-icon-left">
              <a class="tab-item laranja-fraco" href="#/tab/best_times/edit/{{d.idEstilo}}/{{d.nomeEstilo}}/{{d.melhorTempo}}">
                <i class="icon ion-edit"></i>
                Editar
              </a>
              <a class="tab-item laranja-fraco" href="#/tab/best_times/estimates/{{d.nomeEstilo}}/{{d.melhorTempo}}">
                <i class="icon ion-ios-list"></i>
                Estimativas
              </a>
          </div>
      </div>

    </div>
      
  </ion-content>
</ion-view>
