<ion-view view-title="Menu" class="background">

  <ion-content class="padding">

  	<div class="list">

	  	<a ng-href="#/app/{{treino_menu_hash}}" class="item button button-block button-stable">Treinos</a>

	  	<a ng-href="#/app/best_times" ng-if="!userIsCoach" class="item button button-block button-stable">Melhores Tempos</a>

	  	<a ng-href="#/app/coach/my_athletes" ng-if="userIsCoach" class="item button button-block button-stable">Atletas</a>

	  	<a ng-href="#/app/{{profile_hash}}" class="item button button-block button-stable">Configuração</a>

	</div>

  </ion-content>

</ion-view>
