<ion-view view-title="100 metros {{ nomeEstilo }}" class="background">

	<ion-content class="padding">  

		<div class="card">
            
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Minutos</span>
                    <input type="number" ng-model="minutes">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Segundos</span>
                    <input type="number" ng-model="seconds">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Centésimos</span>
                    <input type="number" ng-model="cen">
                </label>

                <button class="button button-block laranja-forte" style="margin: 0px;" ng-click="saveBestTime(minutes, seconds, cen)">Salvar</button>

        </div>

  	</ion-content>
</ion-view>
