<ion-view view-title="Nova Conta">

    <div class="bar bar-header top-app-bar">
        <h1 class="title">Nova Conta</h1>
    </div>

  <ion-content class="has-header padding" overflow-scroll="true">

        <button class="button button-stable button-block" ng-click="souAtleta()">Sou atleta</button>

        <button style="" class="button button-stable button-block" ng-click="souTecnico()">Sou técnico</button>

  </ion-content>

</ion-view>
