<ion-view title="Login">
    
    <div class="bar bar-header top-app-bar">
        <h1 class="title">Meu App</h1>
    </div>

    <ion-content class="has-header padding" overflow-scroll="true">
      
        <ion-list>
            <div class="item item-input item-stacked-label">
                <span class="input-label">E-mail:</span>    
                <input type="email" placeholder="john@teste.com" ng-model="data.email">
            </div>

            <div class="item item-input item-stacked-label">
                <span class="input-label">Senha:</span>
                <input type="password" ng-model="data.senha">
            </div>
            
        </ion-list>

        <button class="button button-stable button-block " ng-click="doLogin(data)">Entrar</button>
        <a style="" class="button button-positive button-clear button-block " href="#/escolher_sou_atleta_ou_tecnico">Criar nova conta</a>
        

    </ion-content>
</ion-view>
