<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="top-app-bar">
      <ion-nav-back-button>
        voltar
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
        <div class="badge badge-assertive">3</div>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="top-app-bar">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/dashboard">
          Início
        </ion-item>
        <ion-item menu-close ng-href="#/app/{{profile_hash}}">
          Configuração
        </ion-item>
        <ion-item menu-close ng-href="#/app/{{treino_menu_hash}}">
          Treino
        </ion-item>
        <ion-item ng-if="!userIsCoach" menu-close ng-href="#/app/best_times">
          Melhores Tempos
        </ion-item>
        <ion-item menu-close href="#/app/teste">
          Sobre
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
