<ion-view view-title="Nova Conta">

    <div class="bar bar-header top-app-bar">
        <h1 class="title">Nova Conta</h1>
    </div>

  <ion-content class="has-header padding" overflow-scroll="true">

        <ion-list>
            <div class="item item-input item-stacked-label">
                <span class="input-label">Nome Completo:</span>
                <input type="text" placeholder="John" ng-model="user.nome">
            </div>

            <div class="item item-input item-stacked-label">
                <span class="input-label">E-mail:</span>    
                <input type="text" placeholder="john@teste.com" ng-model="user.email">
            </div>

            <div class="item item-input item-stacked-label">
                <span class="input-label">Senha:</span>
                <input type="password" ng-model="user.senha">
            </div>
            
        </ion-list>

        <button style="" class="button button-stable button-block " ng-click="addUser(user)">Criar conta</button>

  </ion-content>

</ion-view>
