<ion-view view-title="Sobre">

  <ion-content padding=true>
  	<div class="row">
  		<h2 class="col">Swim Couch</h2>
  	</div>

  	<div class="row">
  		<h4 class="col">Objetivo</h4>
  	</div>

  	<div class="row">
  		<p class="col">Facilitar o acompanhamento da performance do atleta com o decorrer de seus treinos.</p>
  	</div>

  	<div class="row">
  		<p class="col">Você encontrará aqui ferramenta para estimar seus tempos, visualizar treinos da semana, gerar relatório de desempenho de treino, entre outros.</p>
  	</div>
  	
  </ion-content>
</ion-view>
