

<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Atleta -->


  <!-- Configuração Atleta Tab -->
  <ion-tab title="Configuração" ng-if="!userIsCoach" icon-off="ion-ios-gear-outline" icon-on="ion-android-settings" href="#/tab/athlete_profile">
    <ion-nav-view name="tab_athlete_profile"></ion-nav-view>
  </ion-tab>

  <!-- Treino Atleta Tab -->
  <ion-tab title="Treino" ng-if="!userIsCoach" icon-off="ion-clipboard" icon-on="ion-clipboard" href="#/tab/athlete/treino_menu">
    <ion-nav-view name="tab_athlete_treino"></ion-nav-view>
  </ion-tab>

  <!-- Melhores Tempos do Atleta Tab -->
  <ion-tab title="Melhores Tempos" icon-off="ion-stats-bars" ng-if="!userIsCoach" icon-on="ion-stats-bars" href="#/tab/best_times">
    <ion-nav-view name="tab_best_times"></ion-nav-view>
  </ion-tab>


  <!-- Técnico -->
  

  <!-- Treino Técnico Tab -->
  <ion-tab title="Treino" ng-if="userIsCoach" icon-off="ion-clipboard" icon-on="ion-clipboard" href="#/tab/coach/treino_menu">
    <ion-nav-view name="tab_coach_treino"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Atletas" icon-off="ion-ios-chatboxes-outline" ng-if="userIsCoach" icon-on="ion-ios-chatboxes" href="#/tab/coach/my_athletes">
    <ion-nav-view name="tab_coach_my_athletes"></ion-nav-view>
  </ion-tab>


</ion-tabs>