<ion-view view-title="Calendário" class="background">

  <div class="bar bar-subheader sub-app-bar">
      <button class="button button-icon icon ion-ios-arrow-left" ng-click="goToPreviousWeek()" style="color:#FFFFFF"></button>
      <div class="h1 title" style="color:#FFFFFF">{{weekInfo.firstDay}} - {{weekInfo.lastDay}} de {{weekInfo.monthWritten}}</div>
      <button class="button button-icon icon ion-ios-arrow-right" ng-click="goToNextWeek()" style="color:#FFFFFF"></button>
  </div>

  <ion-content class="has-subheader">

    <div class="list">

    <a ng-repeat="weekDayInfo in weekInfo.weekDaysWorkoutInfo" class="item item-icon-right" ng-click="viewWorkout({{weekDayInfo.workoutsId}})">
      
      {{weekDayInfo.weekDayWritten}}

      <label style="font-size: 70%">

          ({{weekDayInfo.day}}/{{weekDayInfo.month}})

          <label ng-if="weekDayInfo.workoutsId.length == 1" style="font-size: 100%">
            1 treino
          </label>

          <label ng-if="weekDayInfo.workoutsId.length > 1" style="font-size: 100%">
             {{weekDayInfo.workoutsId.length}} treinos
          </label>

      </label>

      <i ng-if="weekDayInfo.workoutsId.length > 0" class="icon ion-ios-arrow-right"></i>
    </a>

  </div>

  </ion-content>

</ion-view>


<script id="opcoes_treino.html" type="text/ng-template">
    <div class="modal">

          <ion-header-bar class="top-app-bar">
            <h1 class="title">Escolha um treino</h1>
          </ion-header-bar>
          
          <ion-content>  

              <div class="list">
                <a class="item" ng-click="goToTreino(workout._id)" ng-repeat="workout in modal.workoutsArr track by $index">
                  <label class="left-item"><b>{{workout.name}}</b></label>
                  <label class="right-item">{{workout.totalDistance}} metros</label>
                </a>
             </div>

          </ion-content>
    </div>
</script>
