<ion-view view-title="Treinos" class="background">

  <ion-content>

    <div class="list">

	  <a class="item item-icon-right" href="#/app/treinos/1">
		  Segunda-feira
		  <i class="icon ion-ios-arrow-right"></i>
  	  </a>
	  <a class="item item-icon-right" href="#">
		  Terça-feira
		  <i class="icon ion-ios-arrow-right"></i>
  	  </a>
  	  <a class="item item-icon-right" href="#">
		  Quarta-feira
		  <i class="icon ion-ios-arrow-right"></i>
  	  </a>
  	  <a class="item item-icon-right" href="#">
		  Quinta-feira
		  <i class="icon ion-ios-arrow-right"></i>
  	  </a>
  	  <a class="item item-icon-right" href="#">
		  Sexta-feira
		  <i class="icon ion-ios-arrow-right"></i>
  	  </a>
  	  <a class="item item-icon-right" href="#">
		  Sábado
		  <i class="icon ion-ios-arrow-right"></i>
  	  </a>
  	  <a class="item item-icon-right" href="#">
		  Domingo
		  <i class="icon ion-ios-arrow-right"></i>
  	  </a>

	</div>

  </ion-content>

</ion-view>
