<ion-view view-title="Treinos - Segunda-feira" class="background">

  <ion-content>

    <div ng-repeat="s in athleteWorkout.series" class="list card" style="margin-top:15px; margin-bottom:0px;">
            <div class="item item-divider">
              <span class="left-item">{{ s.series }} x {{ s.repetition }} x {{ s.distance }} {{ s.style }}</span>
              <span class="right-item">{{ s.intensity }}</span>
            </div>
            <div class="item item-body" style="padding:0px;">
                <div class="row">
                    <span class="col">
                        <span class="row">Mín</span>
                        <span class="row">{{ s.minTime }}</span>
                    </span>
                    <span class="col">
                        <span class="row">Máx</span>
                        <span class="row">{{ s.maxTime }}</span>
                    </span>
                    <span class="col">
                        <div class="row">Intervalo</div>
                        <span class="row">{{ s.interval }}</span>
                    </span>
                </div>
            </div>
    </div>
    
  </ion-content>

  <div class="bar bar-footer" style="background-color:#484848;">
    <h1 class="title" style="color: white">{{ athleteWorkout.totalDistance }} metros</h1>
  </div>

</ion-view>
