<ion-view view-title="Calendário" class="background">

  <div class="bar bar-subheader">
    <button class="button icon-left ion-ios-arrow-back" ng-click="goToPreviousWeek()"></button>
    <div class="h1 title">{{ formatarData(weekFirstDay) }}</div>
    <button class="button icon-right ion-ios-arrow-forward" ng-click="goToNextWeek()"></button>
  </div>

  <ion-content class="has-subheader padding">

          <div class="card list">

                <a ng-repeat="weekDayInfo in weekInfo.weekDaysWorkoutInfo track by $index" class="item item-icon-right" ng-click="viewWorkout(weekDayInfo.treinos)" ng-class="{cinzaClaro : weekDayInfo.isToday}">

                  {{weekDayInfo.weekDayWritten}}

                  <label style="font-size: 70%">

                      ({{weekDayInfo.day}}/{{weekDayInfo.month}})

                      <label ng-if="weekDayInfo.treinos.length == 1" style="font-size: 100%">
                        1 treino
                      </label>

                      <label ng-if="weekDayInfo.treinos.length > 1" style="font-size: 100%">
                         {{weekDayInfo.treinos.length}} treinos
                      </label>

                  </label>

                  <i ng-if="weekDayInfo.treinos.length > 0" class="icon ion-ios-arrow-right laranja-forte"></i>
                </a>

        </div>

  </ion-content>

</ion-view>


<script id="opcoes_treino.html" type="text/ng-template">
    <div class="modal">

          <ion-header-bar class="top-app-bar">
            <h1 class="title">Escolha um treino</h1>
          </ion-header-bar>
          
          <ion-content>  

            {{$scope.modal.treinos}}

              <div class="list">
                <a class="item" ng-click="goToTreino(treino)" ng-repeat="treino in modal.treinos track by $index">
                  <label class="left-item"><b>{{treino.treino.nome}}</b></label>
                  <label class="right-item">{{treino.treino.distanciaTotal}} metros</label>
                </a>
             </div>

          </ion-content>
    </div>
</script>
