<ion-view view-title="Treino" class="background">

  <ion-content class="padding has-header">
  
    <div class="card list">

      <a class="item item-icon-left" href="#/tab/athlete/treino_menu/calendario_treinos">
        <i class="icon ion-ios-list-outline laranja-fraco"></i>
          Treinos da semana
      </a> 

      <a class="item item-icon-left" href="#" ng-click="logout()">
        <i class="icon ion-log-out laranja-fraco"></i>
          Sair
      </a> 

    </div>

  </ion-content>

</ion-view>
