<ion-view view-title="Configuração" class="background">

  <ion-content class="padding has-header">

  	<div class="card">

  		<div class="item item-divider" style="text-align: center;">Meu Perfil</div>
	  	
	  	<div class="item item-body">

	  		<label class="item item-input item-stacked-label">
		    <span class="input-label">Nome Completo</span>
			    <input type="text" ng-model="usuario.nome">
			</label>

			<label class="item item-input item-stacked-label">
			    <span class="input-label">Altura (cm)</span>
			    <input type="number" ng-model="atleta.altura">
			</label>

			<label class="item item-input item-stacked-label">
			    <span class="input-label">Peso (kg)</span>
			    <input type="number" ng-model="atleta.peso">
			</label>

			<label class="item item-input item-stacked-label">
			    <span class="input-label">Freq. cardíaca máx. nadando (bpm)</span>
			    <input type="number" ng-model="atleta.maxBatimentoCardiaco">
			</label>

			<button class="button button-block laranja-forte" style="margin-top:0px; margin-bottom:0px;" ng-click="saveProfile(atleta, usuario)">salvar</button>

	  	</div>

	</div>

	<div class="card">

  		<div class="item item-divider" style="text-align: center;">Meu Técnico</div>

  		<div class="item item-body">

  			<h3 ng-if="hasCoach">Você já tem um técnico. Sempre que seu técnico criar um novo treino você conseguirá visualizá-lo no menu Treino - treinos da semana</h3>

  			<h3 ng-if="!hasCoach">Você ainda não tem um técnico. Caso seu técnico ainda não utilize o aplicativo Filipina, você pode começar a testar o aplicativo com nosso técnico para testes. Envie uma solicitação preenchendo o campo abaixo com o e-mail appfilipina@gmail.com.</h3>

  			<h3 ng-if="!hasCoach" class="padding-bottom">Dentro de 24h iremos enviar um e-mail para {{usuario.email}} te avisando que sua solicitação foi aceita, e então você poderá visualizar algumas amostras de treinos.</h3>

  			<label class="item item-input item-stacked-label">
			    <span class="input-label">E-mail</span>
			    <input type="email" ng-model="athlete.coachEmail">
			</label>
		
			<button class="button button-block laranja-forte" style="margin: 0px;" ng-click="localizarTecnico(athlete.coachEmail)">Enviar solicitação</button>

  		</div>

	</div>

  </ion-content>

</ion-view>
