<ion-view view-title="Treino">

  <ion-content class="padding has-header">

    <div class="card">
      <div class="item">
        <span class="left-item">Nome</span>
        <span class="right-item">{{treino.treino.nome}}</span>
      </div>
      <div class="item">
        <span class="left-item">Data</span>
        <span class="right-item">{{dataFormatadaTreino}}</span>
      </div>
    </div>

    <div ng-repeat="bloco in treino.blocos" class="list card" style="margin-top:15px; margin-bottom:0px;">

        <!-- Bloco Simples -->
        <div ng-show="bloco.isBlocoSimples">

            <div class="item item-divider">
              <span class="left-item">
                
                <span ng-if="bloco.series > 1">{{ bloco.series }} x </span>{{ bloco.repeticoes }} x {{ bloco.distancia }} {{getNomeEstilo(bloco.idEstilo)}}
                </span>

                <span class="right-item {{getNomeIntensidade(bloco.idIntensidade)}}">{{getNomeIntensidade(bloco.idIntensidade)}}</span>

            </div>

            <div class="item item-body" style="padding:0px;">
                <div class="row">
                      <span class="col">
                          <span class="row">Mín</span>
                          <span class="row">{{ formatTime(bloco.minTime) }}</span>
                      </span>
                      <span class="col">
                          <span class="row">Máx</span>
                          <span class="row">{{ formatTime(bloco.maxTime) }}</span>
                      </span>
                      <span class="col">
                          <div class="row">A cada</div>
                          <span class="row">{{ bloco.aCada }}</span>
                      </span>
                </div>
            </div>

            <button ng-if="bloco.idEstilo == 1" ng-click="abrirModalDeOpcoesDeEstilos(bloco)" class="button button-block" style="margin-top: 0px; margin-bottom: 0px;">Escolher estilo</button>

        </div>


        <!-- Bloco Composto -->
        <div ng-show="!bloco.isBlocoSimples">

            <!-- Informações gerais sobre o bloco composto: número de repetições e intervalo entre séries -->

            <div class="item item-divider" style="text-align: center; margin-bottom:1px">
              {{bloco.repeticoes}} vezes | Intervalo de {{bloco.intervalo}} seg
            </div>

            <div class="item item-body" style="padding-left: 7px; padding-right: 7px;">

                <!-- Para cada bloco simples dentro do bloco composto  -->
                <div ng-repeat="blocoSimples in bloco.blocos" style="margin-bottom:20px;">

                    <div style="border-style: solid;  border-left: thick double #F58A62; padding-left: 7px; padding-right: 7px;">

                        <div> <!-- Bloco simples -->
                          
                            <!-- Dados da série -->
                            <div class="item item-divider">
                                
                                <span class="left-item">
                                      <span ng-if="blocoSimples.series > 1">
                                          {{ blocoSimples.series }} x 
                                      </span>
                                      {{ blocoSimples.repeticoes }} x {{blocoSimples.distancia }} {{getNomeEstilo(blocoSimples.idEstilo)}}
                                </span>

                                <span class="right-item {{getNomeIntensidade(blocoSimples.idIntensidade)}}">{{getNomeIntensidade(blocoSimples.idIntensidade)}}</span>
                            </div>

                            <!-- Estimativa de tempo mínimo e máximo que o atleta tem que fazer -->
                            <div class="item item-body" style="padding:0px;">
                                <div class="row">
                                      <span class="col">
                                          <span class="row">Mín</span>
                                          <span class="row">{{ formatTime(blocoSimples.minTime) }}</span>
                                      </span>
                                      <span class="col">
                                          <span class="row">Máx</span>
                                          <span class="row">{{ formatTime(blocoSimples.maxTime) }}</span>
                                      </span>
                                      <span class="col">
                                          <div class="row">A cada</div>
                                          <span class="row">{{ blocoSimples.aCada }}</span>
                                      </span>
                                </div>
                            </div>
                        
                            <button ng-if="blocoSimples.idEstilo == 1" ng-click="abrirModalDeOpcoesDeEstilos(blocoSimples)" class="button button-block" style="margin-top: 0px; margin-bottom: 0px;">Escolher estilo</button>

                        </div> <!-- Fim do bloco simples -->

                    </div>

                </div> <!-- Fim da lista de blocosSimples dentro de um blocoComposto -->

            </div> <!-- Fim do item-body dos blocos simples dentro do bloco composto -->

        </div> <!-- Fim do bloco composto -->
            
    </div>

    <div class="card list" style="margin-top:15px;">
      <div class="item">
        <span class="left-item">Total</span>
        <span class="right-item">{{ treino.treino.distanciaTotal }} metros</span>
      </div>
    </div>

    <div class="list card">

          <a href="#" class="item item-icon-left" ng-click="enviarTreinoPorEmail(treino)">
            <i class="icon ion-ios-email-outline"></i>
            Enviar por e-mail
          </a>

    </div>

  </ion-content>  

</ion-view>


<script id="opcoes_estilo.html" type="text/ng-template">
    <div class="modal">
          <ion-header-bar class="top-app-bar">
            <h1 class="title">Escolha um estilo</h1>
          </ion-header-bar>
          <ion-content>  

          <div class="list">
            <div class="item" ng-click="escolherOpcaoDeEstilo(modal.blocoSimples, estiloValue.id)" ng-repeat="(estiloKey, estiloValue) in estilos">{{estiloValue.nome}}</div>
          </div>

    </ion-content>
    </div>
</script>
