<ion-view view-title="Novo Treino" class="background">

    <ion-content> 

        <div class="card">

          <div class="list">
            <label class="item item-input item-stacked-label">
              <span class="input-label">Nome treino</span>
              <input type="text" placeholder="identificação para o treino" ng-model="treino.treino.nome">
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Data</span>
              <input type="date" ng-model="treino.treino.data" placeholder="para quando é este treino?">
            </label>
            <div class="item">
                <span class="left-item">Total</span>
                <span class="right-item">{{treino.treino.distanciaTotal}} metros</span>
            </div>
          </div>

        </div>

        <div class="padding" style="padding-bottom:0px;">
            <button ng-click="openNovaSerieModal()" class="button button-block laranja-forte">
                Adicionar série simples
            </button>
            <button ng-click="novoBlocoComposto()" class="button button-block laranja-forte">
                Adicionar série composta
            </button>
            <button class="button button-block laranja-forte" ng-click="finalizarTreino(treino)">
                Finalizar treino
            </button>
        </div>

        <div class="padding" ng-show="treino.blocos.length > 0">

            <h4>Séries</h4>
            
              <div class="item" style="margin-bottom: 5px;" ng-repeat="bloco in treino.blocos track by $index" ng-click="showActionSheetBloco(bloco)">

                  <div ng-show="bloco.isBlocoSimples">
                      <span class="left-item">{{bloco.series}} x {{bloco.repeticoes}} x {{bloco.distancia}} {{getNomeEstilo(bloco.idEstilo)}}</span>
                      <span class="right-item {{bloco.intensity}}">{{getNomeIntensidade(bloco.idIntensidade)}}</span>
                  </div>

                  <div ng-show="!bloco.isBlocoSimples">
                      <div style="text-align: center; padding-bottom: 16px;">Repetir {{bloco.repeticoes}} vezes | Intervalo de {{bloco.intervalo}} seg</div>
                      
                      <div class="item" ng-repeat="blocoSimples in bloco.blocos track by $index">
                            <span class="left-item">{{blocoSimples.series}} x {{blocoSimples.repeticoes}} x {{blocoSimples.distancia}} {{getNomeEstilo(blocoSimples.idEstilo)}}</span>
                            <span class="right-item">{{getNomeIntensidade(blocoSimples.idIntensidade)}}</span>
                      </div>
                  </div>

              </div>

        </div>

    </ion-content>
</ion-view>

<script id="nova_serie.html" type="text/ng-template">
    <div class="modal">
          <ion-header-bar class="top-app-bar">
            <h1 class="title">Nova Série</h1>
          </ion-header-bar>
          <ion-content>  

        <div class="list">

          <label class="item item-input item-select">
            <div class="input-label">
              Sistema de Energia
            </div>
            <select ng-model="modal.data.idIntensidade">
              <option value="">selecione</option>
              <option ng-repeat="(estiloKey, intensidade) in intensidades"  value="{{intensidade.id}}">{{intensidade.nome}}</option>
            </select>
          </label>

          <label class="item item-input">
            <span class="input-label">Número de Séries</span>
            <input type="number" ng-model="modal.data.series">
          </label>

          <label class="item item-input">
            <span class="input-label">Número de Tiros</span>
            <input type="number" ng-model="modal.data.repeticoes">
          </label>

          <label class="item item-input">
            <span class="input-label">Distância (m)</span>
            <input type="number" ng-model="modal.data.distancia">
          </label>

          <label class="item item-input item-select">
            <div class="input-label">
              Estilo
            </div>
            <select ng-model="modal.data.idEstilo">
              <option value="">selecione</option>
              <option ng-repeat="(estiloKey, estilo) in estilos"  value="{{estilo.id}}">{{estilo.nome}}</option>
            </select>
          </label>

          <button ng-click="addOrEditSerie(modal.novaSerie, modal.data)" class="item button button-block" style="margin:0px">
              Salvar
          </button>

        </div>

    </ion-content>
    </div>
</script>
