<ion-view view-title="Bloco Composto" class="background">

    <ion-content> 

          <div class="padding">
              <label class="item item-input">
                <span class="input-label">Repetições</span>
                <input type="number" ng-model="blocoComposto.repeticoes">
              </label>
          </div>

          <div class="padding">
              <label class="item item-input">
                <span class="input-label">Intervalo (em segundos)</span>
                <input type="number" ng-model="blocoComposto.intervalo">
              </label>
          </div>

          <div class="padding" style="padding-bottom:0px;">
              <button ng-click="openNovaSerieModal()" class="button button-block laranja-forte">
                  Adicionar série simples
              </button>
              <button class="button button-block laranja-forte" ng-click="finalizarSerieComposta(blocoComposto)">
                  Finalizar série composta
              </button>
          </div>

          <div class="padding" ng-show="blocoComposto.blocos.length > 0">

              <h4>Séries</h4>
              
                <div class="item" ng-click="showActionSheetBloco(s)" ng-repeat="s in blocoComposto.blocos track by $index">
                    <span class="left-item">{{s.series}} x {{s.repeticoes}} x {{s.distancia}} {{getNomeEstilo(s.idEstilo)}}</span>
                    <span class="right-item {{s.idIntensidade}}">{{getNomeIntensidade(s.idIntensidade)}}</span>
                </div>

          </div>

    </ion-content>
</ion-view>

<script id="nova_serie.html" type="text/ng-template">
    <div class="modal">
          <ion-header-bar class="top-app-bar">
            <h1 class="title">Nova Série</h1>
          </ion-header-bar>
          <ion-content>  

        <div class="list">

          <label class="item item-input item-select">
            <div class="input-label">
              Sistema de Energia
            </div>
            <select ng-model="modal.data.idIntensidade">
              <option value="">selecione</option>
              <option ng-repeat="(estiloKey, intensidade) in intensidades"  value="{{intensidade.id}}">{{intensidade.nome}}</option>
            </select>
          </label>

          <label class="item item-input">
            <span class="input-label">Número de Séries</span>
            <input type="number" ng-model="modal.data.series">
          </label>

          <label class="item item-input">
            <span class="input-label">Número de Tiros</span>
            <input type="number" ng-model="modal.data.repeticoes">
          </label>

          <label class="item item-input">
            <span class="input-label">Distância (m)</span>
            <input type="number" ng-model="modal.data.distancia">
          </label>

          <label class="item item-input item-select">
            <div class="input-label">
              Estilo
            </div>
            <select ng-model="modal.data.idEstilo">
              <option value="">selecione</option>
              <option ng-repeat="(estiloKey, estilo) in estilos"  value="{{estilo.id}}">{{estilo.nome}}</option>
            </select>
          </label>

          <button ng-click="addOrEditSerie(modal.novaSerie, modal.data)" class="item button button-block" style="margin:0px">
              Salvar
          </button>

        </div>

    </ion-content>
    </div>
</script>
