<ion-view view-title="Treino" class="background">

  <ion-content class="padding has-header">

    <div class="card">
        <div class="item">
          <span class="left-item">Nome</span>
          <span class="right-item">{{treino.treino.nome}}</span>
        </div>
        <div class="item">
          <span class="left-item">Data</span>
          <span class="right-item">{{dataFormatadaTreino}}</span>
        </div>
    </div>

    <div ng-repeat="bloco in treino.blocos" class="list card" style="margin-top:15px; margin-bottom:0px;">

        <!-- Bloco Simples -->
        <div ng-show="bloco.isBlocoSimples">

            <div class="item item-divider">
              <span class="left-item">
                
                <span ng-if="bloco.series > 1">{{ bloco.series }} x </span>{{ bloco.repeticoes }} x {{ bloco.distancia }} {{getNomeEstilo(bloco.idEstilo)}}
                </span>

                <span class="right-item {{getNomeIntensidade(bloco.idIntensidade)}}">{{getNomeIntensidade(bloco.idIntensidade)}}</span>

            </div>

        </div>


        <!-- Bloco Composto -->
        <div ng-show="!bloco.isBlocoSimples">

            <!-- Informações gerais sobre o bloco composto: número de repetições e intervalo entre séries -->

            <div class="item item-divider" style="text-align: center; margin-bottom:1px">
              {{bloco.repeticoes}} vezes | Intervalo de {{bloco.intervalo}} seg
            </div>

            <div class="item item-body" style="padding-left: 7px; padding-right: 7px;">

                <!-- Para cada bloco simples dentro do bloco composto  -->
                <div ng-repeat="blocoSimples in bloco.blocos" style="margin-bottom:20px;">

                    <div style="border-style: solid;  border-left: thick double #F58A62; padding-left: 7px; padding-right: 7px;">

                        <div> <!-- Bloco simples -->
                          
                            <!-- Dados da série -->
                            <div class="item item-divider">
                                
                                <span class="left-item">
                                      <span ng-if="blocoSimples.series > 1">
                                          {{ blocoSimples.series }} x 
                                      </span>
                                      {{ blocoSimples.repeticoes }} x {{blocoSimples.distancia }} {{getNomeEstilo(blocoSimples.idEstilo)}}
                                </span>

                                <span class="right-item {{getNomeIntensidade(blocoSimples.idIntensidade)}}">{{getNomeIntensidade(blocoSimples.idIntensidade)}}</span>
                            </div>

                        </div> <!-- Fim do bloco simples -->

                    </div>

                </div> <!-- Fim da lista de blocosSimples dentro de um blocoComposto -->

            </div> <!-- Fim do item-body dos blocos simples dentro do bloco composto -->

        </div> <!-- Fim do bloco composto -->
            
    </div>

    <div class="card list" style="margin-top:15px;">
      <div class="item">
        <span class="left-item">Total</span>
        <span class="right-item">{{ treino.treino.distanciaTotal }} metros</span>
      </div>
    </div>

    <div class="list card">

          <a href="#" class="item item-icon-left" ng-click="editarTreino(treino)">
            <i class="icon ion-edit"></i>
            Editar
          </a>

          <a href="#" class="item item-icon-left" ng-click="enviarTreinoPorEmail(treino)">
            <i class="icon ion-ios-email-outline"></i>
            Enviar por e-mail
          </a>

          <a href="#" class="item item-icon-left" ng-click="excluirTreino(treino.treino.id)">
            <i class="icon ion-ios-trash-outline"></i>
            Excluir
          </a>

    </div>

  </ion-content>  

</ion-view>
