<ion-view view-title="Treino" class="background">

  <ion-content class="padding">
  
    <div class="card list">

      <a class="item item-icon-left" ng-click="novoTreino()">
          <i class="icon ion-ios-plus-empty laranja-forte"></i>
          Novo treino
     	</a>

     	<a class="item item-icon-left" href="#/tab/coach/treino_menu/calendario_treinos">
          <i class="icon ion-ios-list-outline laranja-forte"></i>
          Calendário de treinos
     	</a>

      <a class="item item-icon-left" href="#" ng-click="logout()">
        <i class="icon ion-log-out laranja-fraco"></i>
          Sair
      </a>

    </div>

  </ion-content>

</ion-view>

