<ion-view view-title="Atletas" class="background">

  <ion-content class="padding">

    <div class="card">
      <div class="item item-divider" style="text-align: center;">Meus Atletas</div>
      
      <div class="item item-body">
        <div class="item" ng-repeat="atleta in atletasConfirmados">
          <span class="left-item">{{atleta.nome}}</span>
          <span class="right-item">
            <div class="button button-assertive" ng-click="negarSolicitacaoDoAtleta(atleta.id)">excluir</div>
          </span>
        </div>
      </div>
    </div>

    <div class="card">
        <div class="item item-divider" style="text-align: center;">Atletas Pendentes</div>
        
        <div class="item item-body">
          
            <div class="item" ng-repeat="atleta in atletasPendentes" ng-show="requestAtletasPendentesFinalizada">
              <span class="left-item">{{atleta.nome}}</span>
                <span class="right-item">
                  <div class="button button-assertive" ng-click="negarSolicitacaoDoAtleta(atleta.id)">recusar</div>
                  <div class="button button-balanced" ng-click="aceitar(atleta.id)">aceitar</div>
                </span>
            </div>

            <div class="item" ng-repeat="atleta in atletasPendentes" ng-show="!requestAtletasPendentesFinalizada">
              Buscando atletas pendentes...
            </div>

        </div>
    </div>

  </ion-content>

</ion-view>
