/**
#3D82AB - Azul

#EE5921 - Laranja - Forte
#F58A62 - Laranja - Fraco

#484848 - Cinza Escuro
#D4CFCF - Cinza claro
*/

/* Cor da barra */
.top-app-bar{
    background-color: #3D82AB;
    color: white;
    border: 0px;
    border-color: transparent;
    border-top: transparent;
    border-bottom: transparent;
    background-image: none !important;
}

.tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated{
    border-color: #F57647;
}

.laranja-forte{
    color: #F57647;
}

.laranja-fraco{
    color: #F58A62;
}

.cinzaClaro{
    color: #F2EDED;
    background-color: #F2EDED;
}

.top-app-bar > h1{
    color: white;
}

.sub-app-bar{
	background-color: #3D82AB;
    color: white;
    border-color: #3D82AB;
}

.dark-label{
	color: #484848;
}

.highlight{
    color: #EE5921;
}

.background{
    background-color: #e7e4e4;
}

.background-login{
    background-color: #3e9cdb;
}

.left-item {
    float: left;
}

.right-item {
    float: right;
}

.item-divider {
  background-color: white;
}

.A0{
    color: #EBBED7;
}

.A1{
    color: #87DE6A;
}

.A2{
    color: #FCEF3A;
}

.A3{
    color: #86DADB;
}

.RESAN{
    color: #FF69B4;
}

.TL{
    color: #696969;
}

.pt{
    color: #CC0404;
}

.VL{
    color: #3A47FC;
}
